{% extends "layouts/base.html" %}

{% block title %} Отчеты по программированию {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->

                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div>
<!--                            <button type="button" class="btn btn-warning" onclick="document.getElementById('inconsistencies').scrollIntoView();">Несостыковок: <span class="badge badge-light">4</span> Нажмите, чтобы перейти к исправлению</button>-->
                            <div>
                                <h5> Отчет по локациям за: </h5>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Название Локации</th>
                                        <th>Всего записано</th>
                                        <th>Посетили</th>
                                        <th>Оплат</th>
                                        <th>Конверсия</th>
                                        <th>ТМ</th>
                                        <th>Куратор</th>
                                        <th>РМ</th>
                                        <th class="text-right"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for report in reports %}
                                    {% if report.business == "programming" %}
                                    <tr>
                                        <td>
                                            <h6 class="m-0">{{ report.location_name }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ report.total }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ report.attended }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ report.payments }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ report.conversion }} %</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ report.territorial_manager }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">N\A</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ report.regional_manager }}</h6>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            <div id="inconsistencies">

                            </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
